.contacts__dropdown {
    position: relative;
}

.contacts__dropdown:hover .contacts__dropdown-menu {
    left: 0;
    opacity: 1;
    transition: opacity ease .4s;
}

.contacts__dropdown-menu {
    position: absolute;
    background: #EDEDED;
    padding: 16px;
    width: 155px;
    height: 65px;     
    top: 100%;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 30px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity .8s;
    left: -9999px;
}

.contacts__dropdown-menu:before {
    content: "";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}

.contacts__dropdown-menu:after {
  content: '';
  position: absolute;
  left: 6rem;
  top: -1.3rem;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom: 14px solid #ffffff;
}

.contacts__dropdown-list {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.contacts__dropdown-item {
    color: rgba(30, 31, 32, 1); 
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4px;
}

.contacts__dropdown-item:last-child {
    font-weight: normal;
}
