.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners {
    display: flex;
    flex-wrap: wrap;
    margin-left: -58px;    
}

.partners__item {
    margin-left: 46px;  
    margin-bottom: 32px;
}

.partners__link:hover {
    filter: grayscale(0);
    transition: opacity ease .4s;
}