.services {
    margin-bottom: 67px;
}

.service {
    display: flex;
    padding: 2px 0px;
    text-decoration: none;
}

.service:hover .service__btn {
    background: rgba(218, 1, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.service__img {
    width: 40%;
    margin-right: 5%;
}

.service__content {
flex: 1;
}

.service__desc {
line-height: 1.7;
margin-bottom: 37px;
font-size: 16px;
}

.services__item {
    max-height: 386px;
    margin-bottom: 44px;
}